{% extends "layout.html" %}

{% block title %}Muokkaa reseptiä{% endblock %}

{% block content %}
  <form action="/edit/{{recipe.id}}" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <p>
      Otsikko <br>
      <input type="text" name="title" minlength="{{title_minlength}}" maxlength="{{title_maxlength}}" value="{{recipe.title}}" required>
    </p>
    <p>
      Kuvaus <br>
      <textarea type="content" name="description" maxlength="{{description_maxlength}}">{{recipe.description}}</textarea>
    </p>
    <p>
      Ainesosat <br>
      <textarea type="content" name="ingredients" maxlength="{{ingredients_maxlength}}">{{recipe.ingredients}}</textarea>
    </p>
      Ohjeet <br>
      <textarea type="content" name="instructions" maxlength="{{instructions_maxlength}}">{{recipe.instructions}}</textarea>
    <p>{{instructions}}</p>
    <h2>Luokittelut</h2>
    {%for category in categories%}
    <label>{{category.name}}<input type="checkbox" name="category" value="{{category.id}}" {% if category.id in current_categories %} checked {%endif%}></label><br>
    {%endfor%}
    <input type="submit" value="Julkaise muokkaukset">
  </form>
{% endblock %}
