<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class=header>
  <a href="/">Reseptit</a>
  <div class="header-right">
    {% if session.user_id %}
    <a href="/user/{{session.user_id}}">{{session.username}}</a>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
    {% endif %}
  </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  <ul class="flash-messages">
  {% for category,message in messages %}
	<li class="flash-message {{category}}">{{message}}</li>
  {% endfor %}
  </ul>
  {% endwith %}
  <main>
  {% block content %}{% endblock %}
  </main>
</body>
</html>
