{% extends "layout.html" %}

{% block title %}{{recipe.title}}{% endblock %}

{% block content %}
  <article>
    <h1>{{recipe.title}}</h1>
    <b>Luokittelut:</b>
    {%for category in categories%}
    {{category.name}}
    {%endfor%}
    <h2>Kuvaus</h2>
    <p class="article-content">{{recipe.description}}</p>
    <h2>Ainesosat</h2>
    <p class="article-content">{{recipe.ingredients}}</p>
    <h2>Ohjeet</h2>
    <p class="article-content">{{recipe.instructions}}</p>
    <p>Resepti on <a href="/user/{{recipe.user_id}}">{{recipe.username}}</a>:n</p>
    {% if session.user_id == recipe.user_id %}
    <a href="/edit/{{recipe.id}}">Muokkaa</a>
    <a href="/remove/{{recipe.id}}">Poista</a>
    {% endif %}
  </article>

  <h2>Arvostelut</h2>
  {% if session.user_id %}
  <form action="/review" method="post">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
    <h3>
        {% if user_review %}
        Muokkaa arvostelua
        {% else %}
        Lisää arvostelu
        {% endif %}
    </h3>
    <p class="stars">
      Tähdet
      {% for i in range(1,6) %}
      <label>{{i}}<input type="radio" name="rating" value="{{i}}" {% if i==(user_review.rating if user_review.rating else 3) %} checked {% endif %}></label>
      {% endfor %}
    </p>
    <p>
      Kommentti <br>
      <textarea type="content" name="content">{{user_review.content}}</textarea>
    </p>
    <input type="submit" value="Julkaise arvostelu">
  </form>
  {% else %}
  <p>Voit lisätä kommentoida vain jos olet <a href="/login">kirjautunut sisään</a></p>
  {% endif %}

  {% for review in reviews %}
  <article>
      <h3>Käyttäjän {{review.username}} arvostelu</h3>
      <p> Tähdet: {{review.rating}} </p>
      <p class="comment-content">{{review.content}}</p>
  </article>
  {% endfor %}

{% endblock %}
