{% extends "layout.html" %}

{% block title %}Reseptit{% endblock %}

{% block content %}
  {{ search_bar(True, user_id) }}
  {% if session.user_id %}
  <a href="/create">Luo resepti</a>

  {% else %}
  <p>Voit lisätä reseptejä vain jos olet kirjautunut sisään</p>

  {% endif %}
  <div>
      {% if user_id is none %}
      <h1>Haun tulokset</h1>
      {% else %}
      <h1>Haun tulokset käyttäjän <a href="/user/{{user_id}}">{{username}}</a> resepteistä</h1>
      {% endif %}
      <ul>
      {% for recipe in recipes %}
      <li><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></li>
      {% endfor %}
      {% if next_page_needed %}
      <a href="{{url_for('search', **next_page_args)}}">seuraava sivu</a>
      {% endif %}
      </ul>
  </div>
{% endblock %}
