{% extends "layout.html" %}

{% block title %}Reseptit{% endblock %}

{% block content %}
  <form action="/search?" method="get">
    <p>
      <input type="text" name="q" value="{{query}}">
      <input type="submit" value="Hae">
    </p>
    {% for category in categories %}
    <label>
      {{category.name}}
      <input type="checkbox" name="category" value="{{category.id}}" {% if category.id in current_categories %} checked {%endif%}>
    </label><br>
    {% endfor %}
  </form>
  {% if session.user_id %}
  <a href="/create">Luo resepti</a>

  {% else %}
  <p>Voit lisätä reseptejä vain jos olet kirjautunut sisään</p>

  {% endif %}
  <div>
      <h1>Haun tulokset</h1>
      <ul>
      {% for recipe in recipes %}
      <li><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></li>
      {% endfor %}
      </ul>
  </div>
{% endblock %}
