{% extends "layout.html" %}

{% block title %}Käyttäjä {{user.username}}{% endblock %}

{% block content %}
  <article>
    <h1>Käyttäjä {{user.username}}</h1>
    <h2>Tilastot</h2>
    <table>
      <tbody>
        <tr>
            <td>Reseptien määrä</td><td>{{user.recipe_count}}</td>
        </tr>
        <tr>
            <td>Arvostelujen määrä</td><td>{{user.review_count}}</td>
        </tr>
        <tr>
            <td>Käyttäjän saamojen arvostelujen keskiarvo</td><td>{{user.avg_rating if user.avg_rating else "-"}}</td>
        </tr>
      </tbody>
    </table>
    <h2>Reseptit</h2>
	{{ search_bar(False, user.id) }}
    <a href="/search?u={{user.id}}">hae kategorioiden mukaan</a> <br>
    <ul>
      {%for recipe in recipes%}
      <li><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></li>
      {%endfor%}
    </ul>
    {% if next_page_needed %}
    <a href="/user/{{user.id}}?after={{last_id}}">seuraava sivu</a>
    {% endif %}
  </article>
{% endblock %}
